body {
    background-color: #c0d8ee;
    font-size: 12px;
    overflow-y: hidden;
}

table {
    background-color: white;
}

.header {
    position: fixed;
    width: 100%;
    background-color: white;
}

.menu {
    background-color: #205bb0;
    color: white;
    position: absolute;
    z-index: 2;
}

.submenu.hide-submenu {
    transform: translateY(-100%);
    box-shadow: none;
    transition: all 100ms ease;
}

.submenu {
    transition: all 100ms ease;
    background-color: #c0d8ee;
    color: black;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 45px;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, .3);
}

.gene-header {
    background: white;
    padding: 10px;
}

.gene-header > div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.gene-header .gene-name {
    font-size: 20px;
    color: #205bb0;
    font-weight: bold;
}

.gene-header .gene-id {
    font-size: 16px;
    font-weight: bold;
    color: #e75c29
}

.splice-graph-container {
    background-color: white;
    padding-bottom:10px;
    top: 34px;
}

.splice-graph-container svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lsv-container > div {
    text-align: left;
    display: inline-grid;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.lsv-container {
    text-align: center;
}

.content {
    position: absolute;
    height: calc(100% - 45px);
    width: 100%;
    top: 45px;
}

.top {
    max-height: 50%;
    overflow-y: auto;
    border-bottom: solid lightgrey 1px;
}

.bottom {
    overflow-y: auto
}

.menu-right {
    float: right
}

.splice-graph-header {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    color: #205bb0;
}