.SumoUnder{
    z-index: -1000;
    pointer-events: none;
}
.SumoSelect>.CaptionCont {
    min-height: 16px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
}
/*#groups-display-all, #groups-display-none{*/
/*    margin-top:2px;*/
/*}*/
/*.SumoSelect{*/
/*    width: 100%;*/
/*}*/
/*.groups-display-form{*/
/*    width: 9%;*/
/*}*/
/*.groups-display-form select[multiple]{*/
/*    height:28px;*/
/*    margin-bottom:0;*/
/*}*/

.groups-control-form label, .heatmap-form-label{
    display:inline-block;
    margin:6px;
    font-weight:600;
}

.heatmap-form-label{
    margin-bottom: 27px;
}

#group-controls dd, #group-controls dt{
    display: inline-block;
}

#group-controls .group-name-override{
    width:100%;
}

#group-controls dt{
    width:74%;
    overflow: hidden;
    margin:0;
    padding:0;
    border-bottom: dotted 1px grey;
}

#group-controls dd{
    width:25%;
    margin:0;
    padding:0;
}

#group-controls .handle{
    vertical-align: middle;
}

#group-controls{
    padding-left: 7px;
}

.lsv-single-compact-percentiles, .psi-violin-plot, .dpsi-violin, .excl-incl-rect{
    cursor: default;
}

.lsv-single-compact-percentiles:hover, .psi-violin-plot:hover, .dpsi-violin:hover, .excl-incl-rect:hover{
    box-shadow: none;
}