{% extends 'base_summary.html' %}

{% block script %}
    <script src="metadata.js"></script>
    <script>
        const db_gene = new PouchDB('voila_gene_{{ db_id }}');
        const db_lsv = new PouchDB('voila_lsv_{{ db_id }}');
        const urlParams = new URLSearchParams(document.location.search);
    </script>

    <script>
        const filter_lsvs = lsvs => {
            document.querySelectorAll('.lsv').forEach(c => {
                if (lsvs.some(lsv => c.dataset.lsvId === lsv._id))
                    c.classList.remove('hidden');
                else
                    c.classList.add('hidden');
            });
        };

        window.addEventListener('load', () => {
            Table.load_db(db_gene, urlParams.get('gene_id'))
                .then(() => {
                    const sgs = new SpliceGraphs('.splice-graph-container', {
                        db_gene: db_gene,
                        db_lsv: db_lsv,
                        gene_id: urlParams.get('gene_id')
                    });

                    sgs.create_localstorage();

                    new SpliceGraphTools(sgs);

                    const lsv_tools = new LsvTools(sgs);

                    lsv_tools.load_lsvs().then(lsvs => lsv_tools.het_show_lsvs(lsvs));

                    document.querySelector('.lsv-filters').onchange = () => {
                        lsv_tools.load_lsvs().then(lsvs => filter_lsvs(lsvs));
                    }
                });
        })

    </script>
{% endblock %}

{% block bottom %}
    <svg height="0" width="0">
        <pattern patternUnits="userSpaceOnUse" id="diagonalHatch" width="4" height="4">
            <path d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke="grey" stroke-width="1"></path>
        </pattern>
    </svg>
    <div class="lsv-container"></div>
{% endblock %}
