{% extends 'base_summary.html' %}

{% block script %}
    <script src="metadata.js"></script>
    <script>
        const db_gene = new PouchDB('voila_gene_{{ db_id }}');
        const db_lsv = new PouchDB('voila_lsv_{{ db_id }}');
    </script>
    <script>
        const urlParams = new URLSearchParams(document.location.search);

        window.addEventListener('load', () => {

            const lsv = new Lsv(db_lsv, db_gene);
            const violin = new Violin(db_lsv);

            const t = new NewTable('#results', db_gene, db_lsv, {
                show_data: (lsvs, table, table_body) => {
                    const t = d3.select(table_body).selectAll('tr')
                        .data(lsvs);

                    t.exit().remove();

                    const trs = t.enter().append('tr');

                    trs
                        .attr('data-lsv-id', d => d._id);

                    table.highlight_form(trs.append('td'), sgs);

                    trs.append('td')
                        .attr('class', 'lsv-id')
                        .text(d => d._id);

                    trs
                        .append('td')
                        .attr('class', 'lsv-type')
                        .append('canvas')
                        .each((d, i, a) => {
                            lsv.cartoon(a[i], d._id)
                        });

                    const summary = trs
                        .append('td')
                        .attr('class', 'summary');

                    db_lsv.get('metadata').then(metadata => {
                        summary
                            .append('canvas')
                            .attr('class', 'lsv-single-compact-percentiles')
                            .each((d, i, a) => table.psi_summary_compact(a[i], metadata.group_names[0]));

                        summary
                            .append('svg')
                            .attr('class', 'psi-violin-plot')
                            .each((d, i, a) => table.psi_summary_violin(a[i], metadata.group_names[0]));
                    });
                    trs
                        .append('td')
                        .attr('class', 'links')
                        .append('a')
                        .each((d, i, a) => {
                            table.ucsc_link(a[i], d)
                        })
                        .append('img')
                        .attr('src', 'img/ucsc.png');

                    t
                        .each((d, i, a) => {
                            a[i].dataset.lsvId = d._id;
                            const tds = a[i].querySelectorAll('td');

                            // lsv id
                            tds[1].innerHTML = d._id;

                            // lsv type
                            lsv.cartoon(tds[2].querySelector('canvas'), d._id);

                            // psi per junction
                            table.psi_summary_compact(tds[3].querySelector('canvas'));
                            table.psi_summary_violin(tds[3].querySelector('svg'));

                            table.ucsc_link(tds[4].querySelector('.links a'), d)
                        })
                }
            });

            document.querySelector('.lsv-filters').addEventListener('change', () => {
                t.update();
            });

            const sgs = new SpliceGraphs('.splice-graph-container', {
                db_gene: db_gene,
                db_lsv: db_lsv,
                gene_id: urlParams.get('gene_id')
            });

            sgs.psi_localstorage()
                .then(() => {
                    sgs.create_localstorage();
                    new SpliceGraphTools(sgs);
                });
        })
    </script>
{% endblock %}

{% block bottom %}
    <div class="lsv-container">
        <div>

            <div>
                <form class="pure-form">
                    <button class="previous pure-button">Previous</button>
                    <button class="next pure-button">Next</button>
                    <select class="rows">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span class="current-page"></span>
                </form>
            </div>

            <table id="results" class="pure-table">
                <thead>
                <tr>
                    <th>Highlight</th>
                    <th>LSV ID</th>
                    <th>LSV Type</th>
                    <th>Ψ per Junction</th>
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
