*.pyc
*.c
!voila/c/sqlite3.c
src/internals/seq_parse.cpp
src/*.cpp
.DS_Store
.idea
voila/templates/.idea
voila/templates/static/matrix_plots
build/
voila/templates/spliceGraphD3.html
*.log
voila/sandbox/*
dist/
majiq.egg-info


