Cython>=0.27.3
pysam>=0.14
numpy>=1.14.1
cycler==0.10.0
h5py==2.7.1
Jinja2==2.10
MarkupSafe==1.0
matplotlib==2.1.2
psutil==5.4.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
quicksect==0.1.0
scipy==1.0.0
six==1.11.0
SQLAlchemy==1.2.4