{% extends 'base_summary.html' %}

{% block script %}
    <script src="{{ url_for('static', filename='js/lsvtools.js') }}"></script>
    <script src="{{ url_for('static', filename='js/summary.js') }}"></script>
    <script>
        json_ajax('{{ url_for("nav", gene_id=gene_id) }}').then(json => {
            document.querySelector('.prev-gene').addEventListener('click', () => {
                window.location.href = json.prev;
            });

            document.querySelector('.next-gene').addEventListener('click', () => {
                window.location.href = json.next;
            });
        });

        json_ajax('{{ url_for("splice_graph", gene_id=gene_id) }}').then(gene => {

            const sgs = new SpliceGraphs('.splice-graph-container', {
                gene: gene,
                remove_img: '{{ url_for('static', filename='img/remove.svg')}}',
                remove_fn: event => {
                    const sg = event.target.closest('.splice-graph');
                    send_ajax('{{ url_for('psi_splice_graphs') }}', {'remove': [sg.dataset.group, sg.dataset.experiment]})
                        .then(() => {
                            sg.remove();
                            SpliceGraphTools._populate_sg_form();
                        });
                }
            });

            sgs.init_create().then(s => new SpliceGraphTools(s));

            new MutationObserver(mutations => {
                mutations.forEach(m => m.addedNodes
                    .forEach(n => {
                        const lsv_id = n.querySelectorAll('td')[1].textContent;
                        json_ajax('{{ url_for("lsv_data") }}/' + encodeURIComponent(lsv_id))
                            .then(lsv_data => {
                                    const lsv = new Lsv(lsv_data);
                                    const violin = new Violin(lsv_data.lsv);

                                    n.querySelectorAll('.psi-violin-plot')
                                        .forEach(s => {
                                            $(s).hide();
                                            violin.psi(s);
                                        });

                                    n.querySelectorAll('.lsv-cartoon')
                                        .forEach(s => lsv.cartoon(s));

                                    n.querySelectorAll('.lsv-single-compact-percentiles')
                                        .forEach(s => lsv.draw_lsv_compact_stack_bars(s));

                                    n.querySelectorAll('.excl-incl-rect')
                                        .forEach(s => {
                                            lsv.draw_delta_lsv_compact_svg(s);

                                        });
                                    n.querySelectorAll('.dpsi-violin')
                                        .forEach(s => {
                                            $(s).hide();
                                            violin.deltapsi(s);
                                        });

                                    n.querySelector('.highlight').onchange = () => {
                                        const hl = Array.from(document.querySelectorAll('input.highlight:checked'))
                                            .map(el => el.closest('tr').querySelectorAll('td')[1].textContent);
                                        const w = Array.from(document.querySelectorAll('input.psi-weighted:checked'))
                                            .map(el => el.closest('tr').querySelectorAll('td')[1].textContent);
                                        const hl_data = {'highlight': hl, 'weighted': w};
                                        send_ajax('{{ url_for("lsv_highlight") }}', hl_data).then(lsvs => {
                                            sgs.highlight(hl, w, lsvs);
                                        })
                                    }
                                }
                            )
                    })
                );
            })
                .observe(document.querySelector('#results tbody'), {
                    childList: true,
                });

            $('#results').DataTable({
                autoWidth: false,
                processing: true,
                serverSide: true,
                order: [[1, "asc"]],
                ajax: {
                    url: '{{ url_for('summary_table', gene_id=gene_id) }}',
                    type: 'POST'
                },
                columnDefs: [
                    {
                        data: null,
                        targets: 0,
                        orderable: false,
                        defaultContent: "<div class=\"highlight-form\">" +
                            "<div>" +
                            "<label>Highlight<input class=\"highlight\" type=\"checkbox\"></label>" +
                            "</div>" +
                            "<div>" +
                            "<label>PSI Weighted<input class=\"psi-weighted\" type=\"checkbox\"></label>" +
                            "</div>" +
                            "</div>"
                    },
                    {
                        targets: 2,
                        orderable: false,
                        render: data => {
                            const element = document.createElement('canvas');
                            element.setAttribute('width', '200');
                            element.setAttribute('height', '80');
                            element.classList.add('lsv-cartoon');
                            element.dataset.lsvType = data;
                            return element.outerHTML
                        }
                    },
                    {
                        targets: 4,
                        render: () => {
                            const excl_incl = document.createElement('svg');
                            excl_incl.classList.add('excl-incl-rect');
                            excl_incl.setAttribute('width', '0');
                            excl_incl.setAttribute('height', '0');

                            const dpsi_violin = document.createElement('svg');
                            dpsi_violin.classList.add('dpsi-violin');
                            dpsi_violin.setAttribute('width', '0');
                            dpsi_violin.setAttribute('height', '0');

                            return excl_incl.outerHTML + dpsi_violin.outerHTML;
                        }
                    },
                    {
                        targets: [3, 5],
                        orderable: false,
                        render: data => {
                            const compact = document.createElement('canvas');
                            compact.classList.add('lsv-single-compact-percentiles');
                            compact.dataset.group = data;

                            const violin = document.createElement('svg');
                            violin.classList.add('psi-violin-plot');
                            violin.setAttribute('width', '0');
                            violin.setAttribute('height', '0');
                            violin.dataset.group = data;

                            return compact.outerHTML + violin.outerHTML
                        }
                    },
                    {
                        targets: 6,
                        orderable: false,
                    },
                ]
            });


        });

        $('#results tbody')
            .on('click', '.excl-incl-rect, .dpsi-violin', event => {
                const parent = event.target.closest('td');
                const excl_incl = parent.querySelector('.excl-incl-rect');
                const violin = parent.querySelector('.dpsi-violin');
                $(violin).toggle();
                $(excl_incl).toggle();
            })
            .on('click', '.psi-violin-plot, .lsv-single-compact-percentiles', event => {
                const parent = event.target.closest('td');
                const violin = parent.querySelector('.psi-violin-plot');
                const compact = parent.querySelector('.lsv-single-compact-percentiles');
                $(violin).toggle();
                $(compact).toggle();
            })

    </script>
{% endblock %}

{% block bottom %}
    <div class="lsv-container">
        <div>
            <table id="results" class="pure-table">
                <thead>
                <tr>
                    <th>Highlight</th>
                    <th>LSV ID</th>
                    <th>LSV Type</th>
                    <th>Ψ per Junction</th>
                    <th>∆Ψ per Junction</th>
                    <th>Ψ per Junction</th>
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
