{% extends 'base_summary.html' %}

{% block script %}
    <script src="{{ url_for('static', filename='js/lsvtools.js') }}"></script>
    <script src="{{ url_for('static', filename='js/summary.js') }}"></script>
    <script>
        json_ajax('{{ url_for("nav", gene_id=gene_id) }}').then(json => {
            document.querySelector('.prev-gene').addEventListener('click', () => {
                window.location.href = json.prev;
            });

            document.querySelector('.next-gene').addEventListener('click', () => {
                window.location.href = json.next;
            });
        });

        json_ajax('{{ url_for("splice_graph", gene_id=gene_id) }}').then(gene => {

            const sgs = new SpliceGraphs('.splice-graph-container', {
                gene: gene,
                remove_img: '{{ url_for('static', filename='img/remove.svg')}}',
                remove_fn: event => {
                    const sg = event.target.closest('.splice-graph');
                    send_ajax('{{ url_for('psi_splice_graphs') }}', {'remove': [sg.dataset.group, sg.dataset.experiment]})
                        .then(() => {
                            sg.remove();
                            SpliceGraphTools._populate_sg_form();
                        });
                }
            });

            sgs.init_create().then(s => new SpliceGraphTools(s));

            new MutationObserver(mutations => {
                mutations.forEach(m => m.addedNodes
                    .forEach(n => {
                        const lsv_id = n.querySelectorAll('td')[1].textContent;
                        json_ajax('{{ url_for("lsv_data") }}/' + encodeURIComponent(lsv_id))
                            .then(lsv_data => {
                                const lsv = new Lsv(lsv_data);
                                const violin = new Violin(lsv_data.lsv);
                                const s = n.querySelector('.psi-violin-plot');

                                lsv.cartoon(n.querySelector('.lsv-cartoon'));
                                lsv.draw_lsv_compact_stack_bars(n.querySelector('.lsv-single-compact-percentiles'));
                                $(s).hide();
                                violin.psi(s);

                                n.querySelector('.highlight').onchange = () => {
                                    const hl = Array.from(document.querySelectorAll('input.highlight:checked'))
                                        .map(el => el.closest('tr').querySelectorAll('td')[1].textContent);
                                    const w = Array.from(document.querySelectorAll('input.psi-weighted:checked'))
                                        .map(el => el.closest('tr').querySelectorAll('td')[1].textContent);
                                    const hl_data = {'highlight': hl, 'weighted': w};
                                    send_ajax('{{ url_for("lsv_highlight") }}', hl_data).then(lsvs => {
                                        sgs.highlight(hl, w, lsvs);
                                    })
                                }
                            })
                    })
                );
            })
                .observe(document.querySelector('#results tbody'), {
                    childList: true,
                });

            $('#results').DataTable({
                autoWidth: false,
                processing: true,
                serverSide: true,
                ajax: {
                    url: '{{ url_for('psi', gene_id=gene_id) }}',
                    type: 'POST'
                }
            });


        });

        $('#results tbody')
            .on('click', '.psi-violin-plot, .lsv-single-compact-percentiles', event => {
                const parent = event.target.closest('td');
                const violin = parent.querySelector('.psi-violin-plot');
                const compact = parent.querySelector('.lsv-single-compact-percentiles');
                $(violin).toggle();
                $(compact).toggle();
            })

    </script>
{% endblock %}

{% block bottom %}
    <div class="lsv-container">
        <div>
            <table id="results" class="pure-table">
                <thead>
                <tr>
                    <th>Highlight</th>
                    <th>LSV ID</th>
                    <th>LSV Type</th>
                    <th>Ψ per Junction</th>
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
