{% extends 'base_summary.html' %}

{% block script %}
    <script src="{{ url_for('static', filename='js/lsvtools.js') }}"></script>
    <script src="{{ url_for('static', filename='js/summary.js') }}"></script>
    <script>
        json_ajax('{{ url_for("nav", gene_id=gene_id) }}').then(json => {
            document.querySelector('.prev-gene').addEventListener('click', () => {
                window.location.href = json.prev;
            });

            document.querySelector('.next-gene').addEventListener('click', () => {
                window.location.href = json.next;
            });
        });

        json_ajax('{{ url_for("splice_graph", gene_id=gene_id) }}').then(gene => {
            new SpliceGraphs('.splice-graph-container', {
                remove_img: '{{ url_for('static', filename='img/remove.svg')}}',
                remove_fn: event => {
                    const sg = event.target.closest('.splice-graph');
                    send_ajax('{{ url_for('psi_splice_graphs') }}', {'remove': [sg.dataset.group, sg.dataset.experiment]})
                        .then(() => {
                            sg.remove();
                            SpliceGraphTools._populate_sg_form();
                        });
                },
                gene: gene
            })
                .init_create()
                .then(s => new SpliceGraphTools(s))
        });


        new MutationObserver(mutation_list => {
            json_ajax('{{ url_for("lsv_data") }}').then(lsv_data => {
                const lsv = new Lsv(lsv_data);
                const violin = new Violin(lsv_data.lsvs);
                mutation_list
                    .map(mutation => mutation.addedNodes
                        .forEach(node => {
                            node.querySelectorAll('.lsv-cartoon')
                                .forEach(c => lsv.cartoon(c));
                            node.querySelectorAll('.lsv-single-compact-percentiles')
                                .forEach(c => lsv.draw_lsv_compact_stack_bars(c));
                            node.querySelectorAll('.psi-violin-plot')
                                .forEach(s => {
                                    violin.psi(s);
                                    $(s).hide()
                                })
                        })
                    );
            });
        })
            .observe(document.querySelector('#results tbody'), {
                childList: true,
            });


        $('#results').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '{{ url_for('psi', gene_id=gene_id) }}',
                type: 'POST'
            }
        });

        $('#results tbody')
            .on('click', '.psi-violin-plot, .lsv-single-compact-percentiles', event => {
                const parent = event.target.closest('td');
                const violin = parent.querySelector('.psi-violin-plot');
                const compact = parent.querySelector('.lsv-single-compact-percentiles');
                $(violin).toggle();
                $(compact).toggle();
            })
    </script>
{% endblock %}

{% block bottom %}
    <div class="lsv-container">
        <div>
            <table id="results" class="pure-table">
                <thead>
                <tr>
                    <th>Highlight</th>
                    <th>LSV ID</th>
                    <th>LSV Type</th>
                    <th>Ψ per Junction</th>
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
