.excl-incl-rect svg, .lsvLegend, .lsv-single-compact-percentiles, .psi-violin-plot, .deltapsi-violin-plot {
    padding: 0;
    margin: auto;
    display: block;
}

.lsv-single-compact-percentiles {
    width: 20px;
    height: 80px;
}

