/* tools section */

.tools-column {
    display: inline-block;
    vertical-align: top
}

.tools-column select {
    display: block
}

.tools-btns {
    vertical-align: middle;
    height: 18px;
}

.toggle-scale {
    object-fit: contain;
    height: 100%;
}

.btn-right {
    float: right;
}

/* splice graph section */

.exon-grp:hover .exon, .intron-retention:hover, .half-exon:hover {
    stroke: orange;
    fill: orange;
    opacity: 1;
}

.exon-grp:hover .exon-number {
    opacity: 1;
}

.exon-number {
    pointer-events: none;
}

.reads {
    cursor: default;
}

.junction-grp:hover .junction, .junction-grp:hover .p3, .junction-grp:hover .p5 {
    stroke: orange;
    stroke-width: 3;
    opacity: 1;
}

.junction-grp:hover .reads {
    opacity: 1;
}

.junction-grp:hover .reads {
    font-size: 14px;
}

.splice-graph-container {
    width: 1000px;
    overflow-x: auto;
    padding-bottom: 30px;
}

.simplified {
    opacity: 0.2;
}

.splice-graph {
    padding-top: 10px;
}