/* tools section */

.splice-graph-selectors {
    display: inline-block;
    vertical-align: top
}

.splice-graph-tools-btns {
    display: inline-block;
    vertical-align: middle;
    height: 18px;
}

.splice-graph-tools-info {
    display: inline-block;
    vertical-align: middle;
}

.splice-graph-selectors select {
    display: block
}

.toggle-scale {
    object-fit: contain;
    height: 100%;
}

/* splice graph section */

.exon:hover, .intron-retention:hover, .half-exon:hover {
    stroke: orange;
    fill: orange;
}

.exon-number {
    pointer-events: none;
}

.reads {
    cursor: default;
}

.junction-grp:hover .junction, .junction-grp:hover .p3, .junction-grp:hover .p5 {
    stroke: orange;
    stroke-width: 3;
}

.junction-grp:hover .reads {
    font-size: 14px;
}

.splice-graph-container {
    width: 1000px;
    overflow-x: auto;
}

.simplified {
    opacity: 0.05;
}