body {
    font-family: Helvetica, Arial;
}

h2 {
    color: #006afc;
    clear: both;
    padding-top: 10px;
}

fieldset legend {
    font-weight:bold;
    color: #006afc;
    font-size: 1.5em;
}

table
{
    border-style: none none none none;
}

.hidden { display: none; }

.extra-short-header{
    width:5px;
}

.short-header{
    width:20px;
}

.medium-header{
    width:120px;
}

.mean-header{
    width:60px;
}

.large-header{
    width:420px;
}

.detailedPsiLink{
    float: left;
    padding-right: 12px;
}

.resetZoom{
    float: right;
}

.psiPlot{
    width: 390px;
    height: 20px;
}

.expandDelta{
    vertical-align: top;
    float: left;
}

/*.largePsiPlot{*/
    /*width: 419px;*/
 /*}*/

/* tablesorter CSS */
table.tablesorter {
        font-family:arial;
        background-color: #CDCDCD;
        margin:10px 0pt 15px;
        font-size: 8pt;
        width: 900px;
        text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
        background-color: #E6EEEE;
        border: 1px solid #FFF;
        font-size: 8pt;
        padding: 4px;
}
table.tablesorter thead tr .header {
        background-image: url(../img/bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
}
table.tablesorter tbody td {
        color: #3D3D3D;
        padding: 4px;
        background-color: #FFF;
        vertical-align: top;
}
table.tablesorter tbody tr.odd td {
        background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
        background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
        background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/* End of tablesorter CSS*/


.deltaCondensed{
    /*border: 1px;*/
    /*border-style: solid solid none solid;*/
    /*padding: 1px;*/
    /*color: #d3d3d3;*/
}

.extraPlots{}



/*D3 violins plots*/
.area{
    shape-rendering: geometricPrecision;
    /*fill: #ccc !important;*/
    /*fill: url(#violin-gradient);*/
}
.boxplot{
    shape-rendering: crispEdges;
    fill: none;
    stroke: black;
    stroke-width: 1px;
}
.boxplot.fill{
    fill: black;
}
.boxplot.mean, .boxplot.median{
    fill: white;
    stroke: white;
}
.boxplot.mean{
    shape-rendering: geometricPrecision;
}
.violin{
    shape-rendering: geometricPrecision;
    fill: none !important;
    stroke: #777;
    stroke-width: 1px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    color-rendering: optimizeQuality !important;
    shape-rendering: crispEdges !important;
    text-rendering: geometricPrecision !important;

}

.lsvSingleCompactPercentiles{
    cursor: -webkit-zoom-in;
}

.violin-boxplot{
    cursor: -webkit-zoom-out;
}

.excl-incl-rect{
    cursor: -webkit-zoom-in;
}

.floatingCanvas {
    position: relative;
    top: -24px;
    padding: 5px;
    font-family: Arial;
    background: #fffec9;
    border: 2px solid #fc0;
    border-radius: 5px;
    width: 500px;
    float: right;
}
/*#fffea1*/

.spliceGraph {
    cursor: -webkit-zoom-in;
}

.extendedDeltaPsi{
    cursor: -webkit-zoom-out;
}

.section-border{
    padding: 25px;
    border: 3px solid #006afc;
    margin: 10px;
    border-radius: 7px;
}

.prime3hidden, .prime5hidden, .EShidden, .targethidden, .sourcehidden, .njuncsfromhidden, .njuncstohidden, .nexonsfromhidden, .nexonstohidden{
    display: none;
}
header {
    background-color:#006afc;
    color:white;
    text-align:center;
    padding:5px;
    font-size: 1em;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
section {
    width:auto;
    float:left;
    /*padding:10px;*/
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

.filters {
    background: white;
    position: fixed;
    left: 1080px;
}


.prevPage, .nextPage {
    position: absolute;
    color: #ffffff;
}

.prevPage {
    left:0;
    padding-left: 30px;
}

.nextPage{
    right: 0;
    padding-right: 30px;
}