<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="icon"
              type="image/png"
              href="static/img/icons/biociphers.ico">
        <title>{% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="static/css/voila.css" />
        <link rel="stylesheet" type="text/css" href="static/css/tooltipster.css" />
        <link rel="stylesheet" type="text/css" href="static/css/themes/tooltipster-light.css" />
        <link rel="stylesheet" type="text/css" href="static/css/themes/tooltipster-shadow.css" />
        <link rel="stylesheet" type="text/css" href="static/css/themes/tooltipster-noir.css" />

        {% block css %}
        {% endblock %}

        {% block js %}
        {% endblock %}

    </head>
    <body>
        {# TODO: Add structured layout #}
        {% block content %}
        {% endblock %}
    </body>
</html>
