{% extends "sg_lsv_sidebar_template.html" %}
{% block title %}LSV &Delta;&Psi; Gene Summary{% endblock %}

{% block css %}
    {#    <link rel="stylesheet" type="text/css" href="static/css/splice.graph.D3.css"/>#}
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-frm.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/splicegraph.css"/>
{% endblock %}

{% block js %}
    {#    <script src="static/js/splice.graph.js" type="text/javascript" language="javascript"></script>#}
    {#    <script src="static/js/splice.graph.D3.js" type="text/javascript" language="javascript"></script>#}
    {#    <script src="static/js/jquery.tablesorter.js" type="text/javascript"></script>#}
    {#    <script src="static/js/jquery.tablesorter.pager.js" type="text/javascript"></script>#}
    {#    <script src="static/js/jquery.mousewheel.js" type="text/javascript"></script>#}
    {#    <script src="static/js/application.js" type="text/javascript"></script>#}
    {#    <script type="text/javascript" src="static/js/jquery.tooltipster.min.js"></script>#}
    {#    <script src="static/js/splice.graph.js" type="text/javascript" language="javascript"></script>#}
    {#    <script src="static/js/splice.graph.D3.js" type="text/javascript" language="javascript"></script>#}
    <script src="static/js/jquery.tablesorter.js" type="text/javascript"></script>
    <script src="static/js/jquery.tablesorter.pager.js" type="text/javascript"></script>
    <script src="static/js/application.js" type="text/javascript"></script>
    <script src="static/js/jquery.tooltipster.min.js" type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/npm/pouchdb@6.3.4/dist/pouchdb.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="static/js/splicegraph.js"></script>
    <script src="static/js/splicegraphtools.js"></script>
    <script src="static/js/floatinglegend.js"></script>
    <script src="static/js/lsv.js"></script>
    <script src="static/js/lsvplots.js"></script>
    <script src="static/js/colors.js"></script>
    <script>
        var db = new PouchDB('{{ database_name }}');
        var sg = new SpliceGraph(db);
        var lsv = new Lsv(db);
        var bp = new LSVPlots(db);
    </script>
    {% for gene in genes %}
        <script src="../db/{{ gene.id }}.js"></script>
    {% endfor %}
{% endblock %}

{% block header %}
    {% if page_name %}Result page: {{ page_name }}{% endif %}
{% endblock %}

{% block content %}
    <section>
        <fieldset class="section-border events-summary">
            <legend>LSV summary</legend>
            <div class="floatingCanvas">
                <canvas class="floatingLegend" width="500px" height="40px">
                    This browser or document mode doesn't support canvas
                </canvas>
            </div>

            {% for gene in genes %}
                {% set gene_index = loop.index - 1 %}
                <div class="gene-container">

                    {% include 'splice_graph_tools.html' %}
                    {% include 'splice_graph.html' %}

                    <table id="event_table{{ loop.index }}" class="tablesorter">
                        <thead>
                        <tr>
                            <th class="short-header">Highlight</th>
                            <th class="short-header">LSV ID</th>
                            <th class="short-header">LSV Type</th>
                            <th class="short-header">PSI {{ group_names[0] }}</th>
                            <th class="short-header">
                                <p class="deltaHeader">&#8592; More in {{ group_names[0] }} | More
                                    in {{ group_names[1] }} &#8594;</p>
                            </th>

                            <th class="short-header">PSI {{ group_names[1] }}</th>
                            <th class="short-header">LSV links</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Highlight</th>
                            <th>LSV ID</th>
                            <th>LSV Type</th>
                            <th>PSI {{ group_names[0] }}</th>
                            <th>
                                <p class="deltaHeader">&#8592; More in {{ group_names[0] }} | More
                                    in {{ group_names[1] }}
                                    &#8594;</p>
                            </th>

                            <th>PSI {{ group_names[1] }}</th>
                            <th>LSV links</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for lsv_id in lsv_ids[gene.id] %}
                            {% set lsv = delta_psi_lsv(lsv_id) %}
                            <tr class="lsvrow" data-njuncs="" data-nexons="">
                                <td data-lsv-id="{{ lsv.lsv_id }}">
                                    <form class='highlight-lsv'>
                                        <label>
                                            <input class="highlight-btn" type="checkbox" value="highlight">
                                            Highlight
                                        </label>
                                        <label>
                                            <input class="weighted-btn" type="checkbox" value="weighted">
                                            PSI Weighted
                                        </label>
                                    </form>
                                </td>
                                <td>{{ lsv.lsv_id }}</td>
                                <td>
                                    {% include 'lsv_cartoon.html' %}
                                </td>

                                <td id="data_psi1_td{{ gene_index }}{{ loop.index }}">
                                    {% with group = metadata.group_names[0] %}
                                        {% include 'single_compact_percentiles.html' %}
                                    {% endwith %}
                                </td>


                                <td id="data_td{{ gene_index }}{{ loop.index }}" class="lsvDeltaCompact primer"
                                    genome="{{ genome }}" lsv-text-version="{{ lsv_text_version }}">
                                    {% include 'delta_compact_percentiles.html' %}
                                </td>


                                <td id="data_psi2_td{{ gene_index }}{{ loop.index }}">
                                    {% with group = metadata.group_names[1] %}
                                        {% include 'single_compact_percentiles.html' %}
                                    {% endwith %}
                                </td>

                                <td>
                                    <p>
                                        {% include 'ucsc_link.html' %}
                                        {% if gtf %}
                                            <a href="../static/doc/lsvs/{{ lsv.lsv_id }}.gtf"
                                               target="_blank"><img src="static/img/icons/gtf.png"
                                                                    title="Go to GTF LSV definition"/></a>
                                        {% endif %}
                                    </p>
                                    <p>
                                        <button class="copy-to-clipboard">
                                            Copy LSV
                                        </button>
                                    </p>
                                </td>

                            </tr>
                        {%- endfor %}
                        </tbody>
                    </table>

                    <div class="pager" id="pager{{ loop.index }}">
                        <form>
                            <img src="static/img/icons/first.png" class="first"/>
                            <img src="static/img/icons/prev.png" class="prev"/>
                            <input type="text" class="pagedisplay"/>
                            <img src="static/img/icons/next.png" class="next"/>
                            <img src="static/img/icons/last.png" class="last"/>
                            <select class="pagesize" autocomplete="off">

                                {% for mark in table_marks[gene_index] -%}
                                    {% if loop.first %}
                                        <option selected="selected" value="{{ mark }}">{{ mark }}</option>
                                    {% else %}
                                        <option value="{{ mark }}">{{ mark }}</option>
                                    {% endif %}
                                {%- endfor %}
                                <option value="{{ lsv_ids|length }}">All</option>
                            </select>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </fieldset>
    </section>
{% endblock %}

