<tr class="{{ lsv.categories2css() }} lsvrow" data-njuncs="{{ lsv.njuncs() }}" data-nexons="{{ lsv.nexons() }}">
    <td>{{ index }}</td>
    <td><a href="{{ link }}"
           target="_blank">{{ lsv.name }}</a></td>
    <td><a href="{{ link }}"
           target="_blank">{{ lsv.lsv_id }}</a></td>
    {% if too_many_lsvs -%}
        <td class="medium-header text-wrapped">
            {{ lsv.lsv_type }}
        </td>
        <td id="data_td{{ index }}" class="medium-header text-wrapped">
            <p class="hidden">
                {% set max_diff = [0.0] %}
                {% for excl_incl in lsv.excl_incl %}
                    {% if ((excl_incl[0]|abs + excl_incl[1]) > max_diff[-1]) %}
                        {% do max_diff.append(excl_incl[0]|abs + excl_incl[1]) %}
                    {% endif %}
                {%- endfor %}
                {{ max_diff[-1]|round(4) }}
            </p>
            <span class="short-header text-wrapped">{% for mm in lsv.means %}{{ mm|round(3) }}
                ; {% endfor -%}</span>
        </td>
    {% else %}
        <td>
            <p class="hidden" style="top:0;">{{ lsv.lsv_type }}</p>
            <canvas class="lsvLegend" width="200px" height="60px" data-lsv-string="{{ lsv.lsv_type }}"
                    title="{{ lsv.lsv_type }}">
                This browser or document mode doesn't support canvas
            </canvas>
        </td>
        <td id="data_td{{ index }}" class="lsvDeltaCompact" data-lsv="{{ lsv|to_json }}"
            data-threshold="{{ threshold }}">
            <p class="hidden">
                {% set max_diff = [0.0] %}
                {% for excl_incl in lsv.excl_incl %}
                    {% if ((excl_incl[0]|abs + excl_incl[1]) > max_diff[-1]) %}
                        {% do max_diff.append(excl_incl[0]|abs + excl_incl[1]) %}
                    {% endif %}
                {%- endfor %}
                {{ max_diff[-1] }}
            </p>
        </td>
    {% endif -%}
    <td>
        <p>
            <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db={{ lexps.genome }}&position={{ lsv.chromosome }}:{{ lsv.get_extension()[0] }}-{{ lsv.get_extension()[1] }}"
               target="_blank">
                <img src="static/img/icons/ucsc3.png" title="View in UCSC Genome Browser"/>
            </a>
        </p>
    </td>

</tr>