<tr class="lsvrow" data-njuncs="" data-nexons="">
    <td>{{ index }}</td>
    <td><a href="{{ links[gene.id] }}"
           target="_blank">{{ gene.name }}</a></td>
    <td><a href="{{ links[gene.id] }}"
           target="_blank">{{ lsv.lsv_id }}</a></td>
    {% if too_many_lsvs -%}
        <td class="medium-header text-wrapped">
            {{ lsv.lsv_type }}
        </td>
        <td id="data_td{{ index }}" class="medium-header text-wrapped">
            <p class="hidden">
                {% set max_diff = [0.0] %}
                {% for excl_incl in lsv.excl_incl %}
                    {% if ((excl_incl[0]|abs + excl_incl[1]) > max_diff[-1]) %}
                        {% do max_diff.append(excl_incl[0]|abs + excl_incl[1]) %}
                    {% endif %}
                {%- endfor %}
                {{ max_diff[-1]|round(4) }}
            </p>
            <span class="short-header text-wrapped">{% for mm in lsv.means %}{{ mm|round(3) }}
                ; {% endfor -%}</span>
        </td>
    {% else %}
        <td>
            {% include 'lsv_cartoon.html' %}
        </td>
        <td id="data_td{{ index }}" class="lsvDeltaCompact"
            data-threshold="{{ threshold }}">
            {% include 'delta_compact_percentiles.html' %}
        </td>
    {% endif -%}
    <td>
        {% include 'ucsc_lsv_link.html' %}
    </td>

</tr>