{% extends "index_summary_template.html" %}

{% block header %}
    LSV &Psi; Index: {{ lexps.group_names[0] }}
{% endblock %}

{% block title %}MAJIQ LSV &Psi; Summary{% endblock %}

{% block tableContent %}
    <thead>
    <tr>
        <th class="extra-short-header">#</th>
        <th class="short-header">Gene</th>
        <th class="short-header">LSV ID</th>
        <th class="short-header">LSV Type</th>
        <th>&Psi; per Junction</th>
        <th class="medium-header">Coordinates Links</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>#</th>
        <th>Gene</th>
        <th>LSV ID</th>
        <th>LSV Type</th>
        <th>&Psi; per Junction</th>
        <th>Coordinates Links</th>
    </tr>
    </tfoot>
    <tbody>
    {% for lsv in lsvs %}
        {% set gene = genes(lsv.gene_id) %}
        {% with index = loop.index0 %}
            {% include 'psi_index_row.html' %}
        {% endwith %}
    {% endfor %}
    </tbody>
{% endblock %}


