{% extends "index_summary_template.html" %}

{% block header %}
    LSV &Psi; Index: {{ lexps.group_names[0] }}
{% endblock %}



{% block tableContent %}

    <thead>
    <tr>
        <th class="extra-short-header">#</th>
        <th class="short-header">Gene</th>
        <th class="short-header">LSV ID</th>
        <th class="short-header">LSV Type</th>
        <th>&Psi; per Junction</th>
        <th class="medium-header">Coordinates Links</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>#</th>
        <th>Gene</th>
        <th>LSV ID</th>
        <th>LSV Type</th>
        <th>&Psi; per Junction</th>
        <th>Coordinates Links</th>
    </tr>
    </tfoot>
    <tbody>
    {% include tmp_index_file_name %}
    </tbody>
{% endblock %}


