{% extends "index_summary_template.html" %}

{% block header %}
    LSV &Delta;&Psi; Index: {{ lexps.group_names[0] }} Vs {{ lexps.group_names[1] }}
{% endblock %}


{% block tableContent %}
    <thead>
    <tr>
        <th class="extra-short-header">#</th>
        <th class="short-header">Gene</th>
        <th class="short-header">LSV ID</th>
        <th class="short-header">LSV Type</th>
        <th class="short-header">
            <p class="deltaHeader">&#8592; More in {{ lexps.group_names[0] }} | More in {{ lexps.group_names[1] }}
                &#8594;</p>
        </th>
        <th class="medium-header">Coordinates Links</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>#</th>
        <th>Gene</th>
        <th>LSV ID</th>
        <th>LSV Type</th>
        <th>
            <p class="deltaHeader">&#8592; More in {{ lexps.group_names[0] }} | More in {{ lexps.group_names[1] }}
                &#8594;</p>
        </th>
        <th>Coordinates Links</th>
    </tr>
    </tfoot>
    <tbody>
     {% for lsv in lsvs %}
        {% set gene = genes(lsv.gene_id).get %}
        {% with index = loop.index0 %}
            {% include 'deltapsi_index_row.html' %}
        {% endwith %}
    {% endfor %}
    </tbody>

{% endblock %}