{% extends "base_template.html" %}
{% block title %}Voila LSV thumbnails{% endblock %}
{% block css %}
{% endblock %}

{% block js %}
<script src="static/js/splice.graph.js" type="text/javascript" language="javascript"></script>
<script src="static/js/jquery.tablesorter.js" type="text/javascript"></script>
<script src="static/js/jquery.tablesorter.pager.js" type="text/javascript"></script>
<script src="static/js/jquery.mousewheel.js" type="text/javascript"></script>
<script src="static/js/application.js" type="text/javascript"></script>
{% endblock %}

{% block header %}
Voila LSV thumbnails
{% endblock %}

{% block content %}
<div class="events-summary">
    <table id="event_table" class="tablesorter">
        <tbody>
        {% for lsv_signature in lsvList -%}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a class="lsv_type" id="{{ lsv_signature }}" download="{{ lsv_signature }}.png" href="#">{{
                    lsv_signature }}</a>
                <canvas class="lsvLegendThumb" width="300px" height="100px" data-lsv-string="{{ lsv_signature }}"
                        data-collapsed="{{ collapsed }}">
                    This browser or document mode doesn't support canvas
                </canvas>
            </td>

        </tr>
        {%- endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

