{% extends "base_template.html" %}
{% block sidebar %}
    <aside class="filters">
        <fieldset class="section-border">
            <legend>LSV filters</legend>
            <form id="lsv-filters" class="bootstrap-frm">
                <label><input type="checkbox" name="prime5" value="1">5-prime</label><br>
                <label><input type="checkbox" name="prime3" value="1">3-prime</label><br>
                <label><input type="checkbox" name="ES" value="1">Exon skipping</label><br>
                <label><input type="checkbox" name="source" value="1">Single Source</label><br>
                <label><input type="checkbox" name="target" value="1">Single Target</label><br>
                <span>Number of junctions:</span><br>
                <label><span>from:</span><input type="text" name="njuncsfrom" value="" size="4"></label>
                <label><span>to:</span><input type="text" name="njuncsto" size="4"></label><br>
                <span>Number of exons:</span><br>
                <label><span>from:</span><input type="text" name="nexonsfrom" value="" size="4"></label>
                <label><span>to:</span><input type="text" name="nexonsto" size="4"><br></label>
            </form>
            {% if 'stat_names' in metadata %}
                <br>
                <form class="stats bootstrap-frm">
                    Heat Map:
                    {% for stat_name in metadata.stat_names %}
                        <label>
                            <input type="radio" class="stat" name="stats"
                                   id="{{ stat_name }}"
                                    {% if loop.first %}
                                   checked="checked"
                                    {% endif %}
                            > {{ stat_name }}
                        </label>
                    {% endfor %}
                </form>
                <br>

                <form class="violin bootstrap-frm">
                    Violin:
                    {% for x in [['Swarm Plot', 'swarm'],['Box Plots', 'box']] %}
                        <label>
                            <input type="radio" class="violin" name="violins"
                                   id="{{ x[1] }}"
                                    {% if loop.first %}
                                   checked="checked"
                                    {% endif %}
                            > {{ x[0] }}
                        </label>
                    {% endfor %}
                </form>

                <br>
                <form class="bootstrap-frm">
                    <label>
                        dPSI Scale:
                        <br>
                        <svg class="dpsi-scale" width="0"></svg>
                    </label>
                </form>

                <br>
                <form class="bootstrap-frm">
                    <label>
                        Stat Scale:
                        <br>
                        <svg class="stat-scale" width="0"></svg>
                    </label>
                </form>
            {% endif %}
        </fieldset>

        {% block sg %}
        {% endblock %}

        {% if prev_page or next_page %}
            <fieldset class="section-border">
                <legend>Summaries</legend>
                {% if prev_page %}
                    <a href="{{ prev_page }}" class="prevPage">&#x276e; Previous</a>
                {% endif %}
                {% if next_page %}
                    <a href="{{ next_page }}" class="nextPage">Next &#x276f;</a>
                {% endif %}
            </fieldset>
        {% endif %}
    </aside>
{% endblock %}