<tr class="lsvrow" data-njuncs="" data-nexons="">
    <td>{{ index }}</td>
    <td><a href="{{ links[gene.id] }}"
           target="_blank">{{ gene.name }}</a></td>
    <td><a href="{{ links[gene.id] }}"
           target="_blank">{{ lsv.lsv_id }}</a></td>
    {% if too_many_lsvs -%}
        <td class="medium-header text-wrapped">
            {{ lsv.lsv_type }}
        </td>
        <td id="data_td{{ index }}" class="medium-header text-wrapped">
                <span class="hidden">
                    {% set max_diff = [0.0] %}
                    {% for mean_b in lsv.means %}
                        {% if mean_b > max_diff[-1] %}
                            {% do max_diff.append(mean_b) %}
                        {% endif %}
                    {%- endfor %}
                    {{ max_diff[-1]|round(4) }}
                </span>
            {{ lsv.means }}
        </td>
    {% else %}
        <td>
            {% include 'lsv_cartoon.html' %}
        </td>
        <td id="data_td{{ index }}">
            {% with group = metadata.group_names[0] %}
                {% include 'single_compact_percentiles.html' %}
            {% endwith %}
        </td>
    {% endif -%}
    <td>
        {% include 'ucsc_link.html' %}
    </td>
</tr>
