{% extends "base_template.html" %}
{% block title %}MAJIQ LSV &Psi; Summary{% endblock %}
{% block css %}
    {# Evaluate if we should divide different css in files #}

{% endblock %}

{% block js %}
    <script src="static/js/jquery-1.11.1.min.js" type="text/javascript"></script>

    <script src="static/js/splice.graph.js" type="text/javascript" language="javascript" ></script>
    <script src="static/js/d3.v3.min.js" type="text/javascript" language="javascript" ></script>
    <script src="static/js/jquery.tablesorter.js" type="text/javascript"></script>
    <script src="static/js/jquery.tablesorter.pager.js" type="text/javascript"></script>
    <script src="static/js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="static/js/application.js" type="text/javascript"></script>
    <script type="text/javascript" src="static/js/jquery.tooltipster.min.js"></script>


{% endblock %}

{% block content %}
    <div class="events-summary">
        <h1>LSV &Psi; Single experiment</h1>
        <table id="event_table" class="tablesorter">
            <thead>
            <tr>
                <th class="short-header">#</th>
                <th class="short-header">LSV ID</th>
                <th class="short-header">LSV Type</th>
                <th class="short-header">&Psi; per Junction</th>
                <th class="short-header">Coordinates</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>#</th>
                <th>LSV ID</th>
                <th>LSV Type</th>
                <th>&Psi; per Junction</th>
                <th>Coordinates</th>
            </tr>
            </tfoot>
            <tbody>
            {% for lsv in lsvList  -%}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ lsv.get_id() }}</td>
                <td>
                    <p class="hidden" style="top:0;">{{ lsv.get_type() }}</p>
                    <canvas class="lsvLegend" width="200px" height="80px" data-lsv-string="{{ lsv.get_type() }}" title="{{ lsv.get_type() }}">
                        This browser or document mode doesn't support canvas
                    </canvas>
                </td>
                <td id="data_td{{ loop.index }}">
                    <span class="hidden">
                    {% set max_diff = 0 %}
                    {% for mean_b in lsv.get_means() %}
                        {% if mean_b > max_diff %}
                            {% set max_diff = mean_b %}
                        {% endif%}
                    {%- endfor %}
                    {{ max_diff }}
                    </span>
                    <canvas class="lsvSingleCompactPercentiles" id="lsvSingleCompact{{ loop.index }}" width="50px" height="50px" style="border: solid; border-width: 2pt; border-color: darkgrey;" data-lsv="[{{ lsv|to_json }}]">
                        This browser or document mode doesn't support canvas
                    </canvas>
                </td>
                <td>
                    <p>
                        <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db={{ lexps[0].genome }}&position={{ lsv.get_chrom() }}:{{ lsv.get_extension()[0] }}-{{ lsv.get_extension()[1] }}" target="_blank">
                            <img src="static/img/icons/ucsc2.png" title="See LSV in UCSC"/>
                        </a>
                    </p>
                    <p>
                        <a href="static/doc/lsvs/{{ lsv.get_id() }}.gtf" target="_blank"><img src="static/img/icons/gtf.png" title="Go to GFT LSV definition"/></a>
                    </p>
                </td>

            </tr>
            {%- endfor %}
            </tbody>
        </table>

        <div class="pager">
            <form>
                <img src="static/img/icons/first.png" class="first"/>
                <img src="static/img/icons/prev.png" class="prev"/>
                <input type="text" class="pagedisplay"/>
                <img src="static/img/icons/next.png" class="next"/>
                <img src="static/img/icons/last.png" class="last"/>
                <select class="pagesize" autocomplete="off">
                    {% for mark in tableMarks -%}
                    {% if loop.first %}
                    <option selected="selected"  value="{{ mark }}">{{ mark }}</option>
                    {% else %}
                    <option value="{{ mark }}">{{ mark }}</option>
                    {% endif %}
                    {%- endfor %}
                    <option value="{{ lsvList|length }}">All</option>
                </select>
            </form>
        </div>


    </div>
{% endblock %}

