{% extends "lsv_sidebar_template.html" %}
{% block sg %}
    <fieldset class="section-border">
        <legend>SG filters</legend>

        <form id="simplified" class="bootstrap-frm">
            <label>
                <input type="checkbox" name="simplified">Simplified
            </label>
        </form>

        <form id="sg-filters" class="bootstrap-frm">

            <br/>

            <span>Number of reads:</span>
            <label>
                <span>gt:</span>
                <input type="text" name="numReads" size="4" value="0">
            </label>

        </form>
    </fieldset>
{% endblock %}