<canvas class="lsv-single-compact-percentiles"
        id="lsv-single-compact{{ loop.index }}"
        data-lsv-id="{{ lsv.lsv_id }}"
        data-gene-id="{{ gene.id }}"
        data-genome="{{ genome }}"
        lsv-text-version="{{ lsv_text_version }}"
        data-group="{{ group }}"
        style="border: solid; border-width: 2pt; border-color: darkgrey;">
    This browser or document mode doesn't support canvas
</canvas>
<svg class="psi-violin-plot" data-gene-id="{{ gene.id }}" data-lsv-id="{{ lsv.lsv_id }}" data-group="{{ group }}" style="display:none;"></svg>
