<div class="tools-column tools-btns">
    <img class="toggle-scale" src="static/img/icons/solve-icon.png"
         title="Change between scaled view and a view where introns are trimmed"/>
    <img class="zoom-in" src="static/img/zoom_in.png" title="Zoom in" alt=""/>
    <img class="zoom-out" src="static/img/zoom_out.png" title="Zoom out" alt=""/>
    <img class="zoom-reset" src="static/img/undo.png" title="Zoom reset" alt=""/>
    <strong>Coordinates: </strong>
    <span class="coordinates">-</span>;
    <strong> Length: </strong><span class="length"></span>
</div>
