<div class="splice-graph-tools">

    <a name="{{ gene.id }}"></a>

    <h2>Gene
        name: {{ gene.name }}; {{ gene.chromosome }}:{{ gene.strand }}:{{ gene.start }}-{{ gene.end }};</h2>

    <h3 class="gene_id">
        Gene ID: {{ gene.id }};
    </h3>

    <div class="splice-graph-selectors">
        <table>
            {%- for group in metadata.group_names %}
                <tr>
                    <td>{{ group }} -</td>
                    <td>
                        <select data-group="{{ group }}">
                            {%- for experiment in metadata.experiment_names[loop.index0] -%}
                                <option value="{{ experiment }}">
                                    {{ experiment }}
                                </option>
                            {%- endfor %}
                        </select>
                    </td>
                </tr>
            {%- endfor %}
        </table>
    </div>

    <div class="splice-graph-tools-btns">
        <img class="toggle-scale" src="static/img/icons/solve-icon.png"
             title="Change between scaled view and a view where introns are trimmed"/>
        <img class="zoom-in" src="static/img/zoom_in.png" title="Zoom in" alt=""/>
        <img class="zoom-out" src="static/img/zoom_out.png" title="Zoom out" alt=""/>
        <img class="zoom-reset" src="static/img/undo.png" title="Zoom reset" alt=""/>
    </div>

    <div class="splice-graph-tools-info">
        <strong>Coordinates: </strong>
        <span class="coordinates">-</span>;
        <strong> Length: </strong><span class="length"></span>
    </div>

</div>