{% extends "base_template.html" %}
{% block title %}MAJIQ splice graphs summary{% endblock %}
{% block css %}
    {# Evaluate if we should divide different css in files #}
    <link rel="stylesheet" type="text/css" href="static/css/splice.graph.D3.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-frm.css" />
{% endblock %}

{% block js %}
    <script src="static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="static/js/splice.graph.js" type="text/javascript" language="javascript" ></script>
    <script src="static/js/splice.graph.D3.js" type="text/javascript" language="javascript" ></script>
    <script src="static/js/d3.v3.min.js" type="text/javascript" language="javascript" ></script>
    <script src="static/js/jquery.tablesorter.js" type="text/javascript"></script>
    <script src="static/js/jquery.tablesorter.pager.js" type="text/javascript"></script>
    <script src="static/js/application.js" type="text/javascript"></script>
    <script src="static/js/jquery.tooltipster.min.js" type="text/javascript"></script>

{% endblock %}

{% block header %}
    {% if namePage %}Result page: {{ namePage }}{% endif %}
{% endblock %}

{% block content %}

<section>
    <fieldset class="section-border events-summary">
        <legend>LSV summary</legend>
        <div class="floatingCanvas">
            <canvas class="floatingLegend" width="500px" height="40px">
                This browser or document mode doesn't support canvas
            </canvas>
        </div>

        {% for gene in genes %}
            {% set gene_index = loop.index -1 %}
            <h2>Gene name: {{gene.name}}; {{gene.chrom}}:{{gene.strand}}:{{gene.start}}-{{gene.end}};</h2>
            <h3 class="gene_id">
                Gene ID: {{ gene.id}};
            </h3>

            <div>
                <div class="spliceDiv" id="spliceDivExp1_{{ gene_index }}" data-exon-list="{{ gene | to_json_especial }}">
                    <div class="spliceGraphTools">
                        <select class="spliceGraphSelector" autocomplete="off">
                            <option selected="selected" value="{{ gene |to_json_especial}}">disabled</option>
                        </select>
                        <img class="toogleScale scaled" src="static/img/icons/solve-icon.png" title="Change between scaled view and a view where introns are trimmed" />
                        <img class="zoomInSplice" src="static/img/zoom_in.png" title="Zoom in" alt="" />
                        <img class="zoomOutSplice" src="static/img/zoom_out.png" title="Zoom out" alt="" />
                        <img class="zoomResetSplice" src="static/img/undo.png" title="Zoom reset" alt="" />
                        <div class="tooltipD3"><strong>Coordinates: </strong><span class="coordsLabel">-</span>;<strong> Length: </strong><span class="lengthLabel">-;</span></div>

                    </div>
                </div>
                <table id="event_table{{ loop.index }}" class="tablesorter hidden">
                    <thead><tr><th></th></tr></thead>
                    <tbody><tr><td></td></tr></tbody>
                </table>

            </div>

        {% endfor %}

    </fieldset>
</section>
<aside class="filters">
    <fieldset class="section-border">
        <legend>LSV filters</legend>
        <form id="lsv-filters" class="bootstrap-frm">
            <label><input type="checkbox" name="prime5" value="1" checked>5-prime</label><br>
            <label><input type="checkbox" name="prime3" value="1" checked>3-prime</label><br>
            <label><input type="checkbox" name="ES" value="1" checked>Exon skipping</label><br>
            <label><input type="checkbox" name="source" value="1" checked>Single Source</label><br>
            <label><input type="checkbox" name="target" value="1" checked>Single Target</label><br>
            <span>Number of junctions:</span><br>
            <label><span>from:</span><input type="text" name="njuncsfrom" value="" size="4"></label>
            <label><span>to:</span><input type="text" name="njuncsto" size="4"></label><br>
            <span>Number of exons:</span><br>
            <label><span>from:</span><input type="text" name="nexonsfrom" value="" size="4"></label>
            <label><span>to:</span><input type="text" name="nexonsto" size="4"><br></label>
        </form>
    </fieldset>
    {% if prevPage or nextPage %}
        <fieldset class="section-border">
            <legend>Summaries</legend>
            {% if prevPage %}
            <a href="{{ prevPage }}" class="prevPage">&#x276e; Previous</a>
            {% endif %}
            {% if nextPage %}
            <a href="{{ nextPage }}" class="nextPage">Next &#x276f;</a>
            {% endif %}
        </fieldset>
    {% endif %}
</aside>

{% endblock %}

