{% extends "sg_lsv_sidebar_template.html" %}
{% block title %}MAJIQ splice graphs summary{% endblock %}
{% block css %}
    {#    <link rel="stylesheet" type="text/css" href="static/css/splice.graph.D3.css"/>#}
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-frm.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/splicegraph.css"/>
{% endblock %}

{% block js %}
    <script src="static/js/splice.graph.js" type="text/javascript" language="javascript"></script>
    <script src="static/js/splice.graph.D3.js" type="text/javascript" language="javascript"></script>
    <script src="static/js/jquery.tablesorter.js" type="text/javascript"></script>
    <script src="static/js/jquery.tablesorter.pager.js" type="text/javascript"></script>
    <script src="static/js/application.js" type="text/javascript"></script>
    <script src="static/js/jquery.tooltipster.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/pouchdb@6.4.3/dist/pouchdb.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="static/js/splicegraph.js"></script>
    <script src="static/js/splicegraphtools.js"></script>
    <script src="static/js/floatinglegend.js"></script>
    <script src="static/js/colors.js"></script>
    <script>
        var db = new PouchDB('{{ database_name }}', {auto_compaction: true});
        var sg = new SpliceGraph(db);
    </script>
{% endblock %}

{% block header %}
    {% if page_name %}Result page: {{ page_name }}{% endif %}
{% endblock %}

{% block content %}

    <section>
        <fieldset class="section-border events-summary">
            <legend>LSV summary</legend>
            <div class="floatingCanvas">
                <canvas class="floatingLegend" width="500px" height="40px">
                    This browser or document mode doesn't support canvas
                </canvas>
            </div>

            {% for gene in genes %}
                {% set gene_index = loop.index - 1 %}
                <script>
                    db.bulkDocs([
                        {{ gene.get_experiment(metadata.experiment_names) | to_json }}
                    ]).then(function () {
                        console.log('successfully loaded data...')
                    }).catch(function (err) {
                        console.error(err);
                    });
                </script>

                <div class="gene-container">
                    {% include 'splice_graph_tools.html' %}
                    <div class="splice-graph-container default-view" data-zoom="1" data-gene-id="{{ gene.id }}">
                        <div class="splice-graph" data-group="{{ metadata.group_names[0] }}"
                             data-experiment="{{ metadata.experiment_names[loop.index0][0] }}"></div>
                    </div>
                </div>
            {% endfor %}
        </fieldset>
    </section>
{% endblock %}

