<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="icon"
          type="image/png"
          href="static/img/icons/biociphers.ico">
    <title>Test SpliceGraphD3</title>
    <link type="text/css" rel="stylesheet" href="static/css/splice.graph.D3.css" />

    <script type="text/javascript" language="javascript" src="http://d3js.org/d3.v3.js" ></script>

</head>
<body>

    <h2>Splice Graph in D3! Gene name: ENST00000339290; Strand: +</h2>
    <img class="toogleScale scaled" src="static/img/icons/solve-icon.png" title="Change between scaled view and a view where introns are trimmed" />
    <div class="hidden tooltipD3">
        <p><strong>Coordinates:</strong><p id="coordsLabel"></p></p>
    </div>

    <div id="testDiv"></div>
    <!-- Load JavaScript at the end for better performance -->
    <script src="static/js/splice.graph.D3.js" type="text/javascript" language="javascript" ></script>

</body>
</html>
