{% extends 'base_index.html' %}

{% block script %}
    <script>
        new MutationObserver(mutations => {
            mutations.forEach(m => m.addedNodes
                .forEach(n => {
                    const tds = n.querySelectorAll('td:not(.dataTables_empty)');

                    if (!tds.length)
                        return;

                    const lsv_id = tds[1].textContent;

                    json_ajax('{{ url_for("lsv_data") }}/' + encodeURIComponent(lsv_id))
                        .then(lsv_data => {
                            const lsv = new Lsv(lsv_data);
                            const violin = new Violin(lsv_data.lsv);
                            n.querySelectorAll('.excl-incl-rect')
                                .forEach(s => {
                                    lsv.draw_delta_lsv_compact_svg(s);
                                });

                            n.querySelectorAll('.dpsi-violin')
                                .forEach(s => {
                                    $(s).hide();
                                    violin.deltapsi(s);
                                });

                            n.querySelectorAll('.lsv-cartoon')
                                .forEach(s => lsv.cartoon(s));
                        });

                    copy_lsv_modal_dropdown(n, '{{ url_for("copy_lsv") }}/' + encodeURIComponent(lsv_id))

                })
            );
        })
            .observe(document.querySelector('#results tbody'), {
                childList: true,
            });


        $('#results').DataTable({
            processing: true,
            serverSide: true,
            autoWidth: false,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            ajax: {
                url: '{{ url_for("index_table") }}',
                type: 'POST'
            },
            columnDefs: [
                {
                    targets: 0,
                    render: data => {
                        const element = document.createElement('a');
                        element.setAttribute('href', data[0]);
                        element.textContent = data[1];
                        return element.outerHTML
                    }
                },
                {
                    targets: 2,
                    sortable: false,
                    render: data => {
                        const element = document.createElement('canvas');
                        element.setAttribute('width', '200');
                        element.setAttribute('height', '80');
                        element.classList.add('lsv-cartoon');
                        element.dataset.lsvType = data;
                        return element.outerHTML
                    }
                },
                {
                    targets: 3,
                    orderable: false,
                    render: data => {
                        const copy_lsv_dd = document.createElement('select');
                        copy_lsv_dd.classList.add('copy-lsv');
                        const opt = document.createElement('option');
                        opt.textContent = 'Copy LSV';
                        copy_lsv_dd.appendChild(opt);
                        data.group_names.forEach(n => {
                            const g_opt = document.createElement('option');
                            g_opt.textContent = n;
                            g_opt.value = n;
                            copy_lsv_dd.appendChild(g_opt);
                        });

                        const ucsc_a = document.createElement('a');
                        ucsc_a.href = data.ucsc;
                        ucsc_a.target = '_blank';
                        const ucsc_img = document.createElement('img');
                        ucsc_img.src = '{{ url_for('static', filename="img/ucsc.png") }}';
                        ucsc_a.appendChild(ucsc_img);

                        return copy_lsv_dd.outerHTML + ucsc_a.outerHTML
                    }
                }
            ]
        });

        $('#results tbody')
            .on('click', '.excl-incl-rect, .dpsi-violin', event => {
                const parent = event.target.closest('td');
                const excl_incl = parent.querySelector('.excl-incl-rect');
                const violin = parent.querySelector('.dpsi-violin');
                $(violin).toggle();
                $(excl_incl).toggle();
            });


    </script>
{% endblock %}

{% block content %}
    <div class="content">
    </div>
    <div class="lsv-container">
        <div>
            <table id="results" class="pure-table">
                <thead>
                <tr>
                    <th>Gene Name</th>
                    <th>LSV ID</th>
                    <th>LSV Type</th>
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}